name: Build DDR5SPDEditor

on:
  push:
    branches: [ main, ci-test ]
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  pull_request:
    branches: [ main, ci-test ]
  workflow_dispatch:

env:
  binary_orig: 'DDR5SPDEditor'
  msys_system: 'ucrt64'
jobs:
  build:
    permissions:
      contents: write

    runs-on: ${{ matrix.sys.os }}
    container: ${{ matrix.sys.container }}

    strategy:
      fail-fast: false
      matrix:
        sys:
          - { os: ubuntu-latest , shell: bash           , cxx: g++-13, release_name: DDR5SPDEditor-linux-x86_64-qt6 }
          - { os: ubuntu-latest , shell: 'alpine.sh {0}', cxx: g++   , release_name: DDR5SPDEditor-linux-x86_64-qt6-alpine }
          - { os: windows-latest, shell: 'msys2 {0}'    , cxx: g++   , release_name: DDR5SPDEditor-win-x86_64-qt6.zip }
        build_type: [Release]

    defaults:
      run:
        shell: ${{ matrix.sys.shell }}

    steps:
    - name: Install packages required for the workflow and build deps
      uses: ConorMacBride/install-package@v1
      with:
        apt: build-essential cmake file gcc make ninja-build pkgconf sudo curl wget ${{ env.QT_PACKAGE }} qt6-tools-dev
      env:
        QT_PACKAGE: ${{ matrix.sys.os == 'ubuntu-20.04' && 'qt5-default qtbase5-dev qt5-qmake libqt5widgets5 libqt5opengl5 libqt5opengl5-dev libqt5gui5 libgl1-mesa-dev libglvnd-dev' || 'qt6-base-dev qt6-base-private-dev' }}

    - name: Install & configure Alpine Linux build environment
      uses: jirutka/setup-alpine@v1
      if: matrix.sys.shell == 'alpine.sh {0}'
      with:
        packages: build-base cmake curl dialog eudev eudev-dev eudev-libs git libusb-dev linux-headers make ninja-build pkgconf pkgconf-dev py3-pip py3-setuptools python3 samurai sudo wget qt6-qtbase qt6-qtbase-dev qt6-qttools-dev

    - name: Setup MSYS2 UCRT64
      if: matrix.sys.shell == 'msys2 {0}'
      uses: msys2/setup-msys2@v2
      with:
        msystem: ${{env.msys_system}}
        update: true
        install: git make mingw-w64-ucrt-x86_64-gcc mingw-w64-ucrt-x86_64-qt6-base mingw-w64-ucrt-x86_64-qt6-tools mingw-w64-ucrt-x86_64-qt-creator zip
        pacboy: cmake:p ninja:p toolchain:p

    - name: Setup 'Toolchain test builds' PPA & install GCC 13
      if: matrix.sys.shell == 'bash'
      run: |
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test
        sudo apt update
        sudo apt install -y gcc-13-base gcc-13 g++-13 libstdc++-13-dev libstdc++6

    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Configure CMake project
      run: cmake -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} ${{ env.extra_flags }}
      env:
        CXX: ${{ matrix.sys.cxx }}
        CC: ${{ matrix.sys.cxx == 'g++-13' && 'gcc-13' || 'gcc' }}
        extra_flags: ${{ startsWith( matrix.sys.os, 'windows' ) && '-DCMAKE_FIND_LIBRARY_SUFFIXES=".a" -DCMAKE_EXE_LINKER_FLAGS="-static -static-libgcc -static-libstdc++ -lwinpthread"' || ' ' }}

    - name: Build CMake project
      run: cmake --build build

    - name: Deploy Qt runtime (Windows)
      if: matrix.sys.shell == 'msys2 {0}'
      run: |
        mkdir -p dist
        /${{env.msys_system}}/bin/windeployqt6.exe --verbose 2 --dir dist "build/${{ env.binary_orig }}.exe"
        ldd build/${{ env.binary_orig }}.exe |grep ${{env.msys_system}} |awk -F '>' '{print $2}' |awk '{print $1}' | xargs -I {} cp {} dist/
        cp build/${{ env.binary_orig }}.exe dist/

    - name: Prepare binaries and make archive with libs
      if: matrix.sys.release_name != ''
      run: |
        if [[ "${{ env.is_windows_build}}" == "true" ]]; then
          zip -r dist/${{ matrix.sys.release_name }} dist/*
        else
          mkdir -p dist
          mv build/${{ env.binary_orig }} dist/${{ matrix.sys.release_name }}
        fi
      env:
        is_windows_build: ${{ startsWith( matrix.sys.os, 'windows' ) && 'true' || 'false' }}

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.sys.release_name }}
        path: dist/${{ matrix.sys.release_name }}
        if-no-files-found: error
        retention-days: 90

    - name: Make and upload release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/') && matrix.sys.release_name != ''
      with:
        fail_on_unmatched_files: false
        generate_release_notes: ${{ startsWith( matrix.sys.os, 'windows' ) && 'true' || 'false' }}
        files: dist/${{ matrix.sys.release_name }}
